.navigation_bar {
  background-color: blue;
  overflow: hidden;
  float: left;
  width: 100%;
  position: relative;
}
  
.navigation_bar ul{  
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  left: 50%;
  float: left;
}
  
.navigation_bar ul li{ 
  float: left;
  position: relative;
  right: 50%;
  display: block;
}

.navigation_bar ul li a {
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
}

.navigation_bar ul li a:hover {
  background-color: #000;
}

.sidebar_nav {
  float:left;
  position: fixed;
  background-color: red;
  height: 100%;
  width: 20%;
}
.sidebar_nav ul {
  list-style-type: none;
  text-align: center;
  padding: 0;
}
.sidebar_nav ul li a {
  display: block;
  padding: 15px 0;
  color: #fff;
  text-decoration: none;
}
.sidebar_nav ul li a:hover {
  background-color: blue;
}

aside {
  position: fixed;
  right:0%;
  width: 20%;
  background-color:red;
  color:white;
  height:100%;
}

aside {
  display: block;
  padding: 15px 0;
  color: #fff;
  text-decoration: none;
  text-align: center;
  top:40px;
}
aside :hover {
  background-color: blue;
}

